!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= data.page.title || "Presentation"
    = inline_stylesheet "all"
    = inline_javascript "head.min"
  %body{:class => page_classes}
    .reveal
      .state-background
        .slides
          = yield
        %aside.controls
          %a.left(href='#') &#x25C4;
          %a.right(href="#") &#x25BA;
          %a.up(href="#") &#x25B2;
          %a.down(href="#") &#x25BC;
        .progress
          %span

    = inline_javascript  "all"

